.form-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 16px;
}

.row {
  display: flex;
  gap: 16px;
  
  mat-form-field {
    flex: 1;
  }
}

.full-width {
  width: 100%;
}

.mt-16 {
  margin-top: 16px;
}
